// -------------------------------------HEADER-------------------------------------------------------

.logo {
  width: 20vh;
}

// ion-content, ion-header{
//
//   --ion-background-color:#222326
// }
//
// ion-searchbar{
//   --ion-background-color: white;
// }


h1{
// color: white;
font-size: 25px;
margin-left: 15vh;
}

// ---------------------------------------------ALBUMS--------------------------------------------
