<ion-header>
  <ion-toolbar>
    <ion-title>
      <a routerLink="/home"><img class="logo" src="../../assets/img/logo.png" ></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <h1>Tous les albums et singles de {{name}}</h1>
  <div class="container" *ngIf="albums?.length>0">
    <ion-list class="detailsAlbums" *ngFor="let a of albums">
      <div item-start  *ngIf="a.images?.length>0">
        <button class="btn" item-end (click)="detailsAlbums(a.id)">
          <h3><img class="album" src="{{a.images[1].url}}">{{a.name}}</h3></button>
        </div>
      </ion-list>
    </div>
  </ion-content>
